<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Tournament</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
</head>
<body>

<h2>Create Battle</h2>

<div class="container authenticated" style="display:none">
    Logged in as: <span id="username"></span>
    <button onClick="logout()" class="btn btn-primary">Logout</button>
</div>

<form th:action="@{/createBattle}" method="post" id="createBattleForm" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <br>

    <input type="hidden" id="tournament" name="tournament" th:value="${tournamentName}" >

    <br>

    <label for="automation_build_script">Automation Build Script:</label>
    <input type="file" id="automation_build_script" name="automation_build_script" accept=".zip">

    <br>

    <label for="code_test">Code Test:</label>
    <input type="file" id="code_test" name="code_test" accept=".zip">

    <br>

    <label for="code">Code:</label>
    <input type="file" id="code" name="code" accept=".zip">

    <br>

    <label for="max_team_size">Max Team Size:</label>
    <input type="number" id="max_team_size" name="max_team_size" required>

    <br>

    <label for="min_team_size">Min Team Size:</label>
    <input type="number" id="min_team_size" name="min_team_size" required>

    <br>

    <label for="repository_link">Repository Link:</label>
    <input type="text" id="repository_link" name="repository_link" required>

    <br>

    <label for="manual_evaluation">Manual Evaluation:</label>
    <input type="checkbox" id="manual_evaluation" name="manual_evaluation" required>

    <br>

    <label for="reg_deadline">Registration Deadline:</label>
    <input type="date" id="reg_deadline" name="reg_deadline" required>

    <br>

    <label for="sub_deadline">Submission Deadline:</label>
    <input type="date" id="sub_deadline" name="sub_deadline" required>

    <input type="hidden" id="creator" name="creator">

    <br>

    <button type="submit" class="btn btn-success">Submit</button>
</form>
<button type="button" class="btn btn-secondary" onclick="goBack()">Back</button>

<script type="text/javascript">
    // JavaScript function to go back to the previous page
    function goBack() {
        window.history.back();
    }

    $.get("/user", function (data) {
        $("#username").html(data.name);
        $("#creator").val(data.name);
        $(".unauthenticated").hide()
        if (data.userCheckResult === true) {
            $(".authenticated").show()
            $(".role_sel").hide();
        } else {
            $(".authenticated").hide()
            $(".role_sel").show();
        }
    });
    var logout = function () {
        $.post("/logout", function () {
            window.location.href = '/';
        })
        return true;
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (settings.type == 'POST' || settings.type == 'PUT'
                || settings.type == 'DELETE') {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/
                    .test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-XSRF-TOKEN",
                        Cookies.get('XSRF-TOKEN'));
                }
            }
        }
    });

</script>
</body>
</html>
