<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
</head>
<body>

<div class="container unauthenticated">
    With GitHub: <a href="/oauth2/authorization/github">click here</a>
</div>
<div class="container authenticated" style="display:none">
    Logged in as: <span id="username"></span>
    <button onClick="logout()" class="btn btn-primary">Logout</button>
</div>
<div class="container role_sel" style="display:none">
    <form th:action="@{/selectRole}" method="post">
        <label for="role">Select your role:</label>
        <select name="role" id="role" class="form-control">
            <option value="0">Student</option>
            <option value="1">Educator</option>
        </select>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
<div class="container authenticated" style="display:none">
    <a href="/profile">click here to see your profile</a>
</div>

<script type="text/javascript">
    $.get("/user", function(data) {
        $("#username").html(data.name);
        $(".unauthenticated").hide()
        if (data.userCheckResult === true) {
            $(".authenticated").show()
            $(".role_sel").hide();
        } else {
            $(".authenticated").hide()
            $(".role_sel").show();
        }
    });
    var logout = function() {
        $.post("/logout", function() {
            $("#username").html('');
            $(".unauthenticated").show();
            $(".authenticated").hide();
        })
        return true;
    }

    $.ajaxSetup({
        beforeSend : function(xhr, settings) {
            if (settings.type == 'POST' || settings.type == 'PUT'
                || settings.type == 'DELETE') {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/
                    .test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-XSRF-TOKEN",
                        Cookies.get('XSRF-TOKEN'));
                }
            }
        }
    });

</script>

</body>
</html>