<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Profile</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
    <style>
        body {
            background-color: #ecf4f9;
        }
        .divLogout {
            top: 10px;
            right: 10px;
            position: fixed;
        }
        h2 {
            top: 10px;
            right: 47%;
            position: fixed;
            font-family: 'Open Sans', sans-serif;
            font-size: 36px;
            font-weight: bold;
            color: #333; /* Dark Text Color */
        }
        .container {
            top: 40%;
            left: 32%;
            max-width: 800px;
            width: 100%;
            padding: 15px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            position: absolute;
            text-align: center;
            align-items: center;
        }
        a {
            cursor: pointer;
            color: #555; /* Gray Text Color */
            font-family: 'Open Sans', sans-serif;
            font-size: 20px; /* Adjust as needed */
            margin-bottom: 10px;
            display: block;
            text-decoration: none; /* Remove underline */
        }

        a:hover {
            color: #777; /* Darker Gray on Hover */
        }
        .divNotif {
            top: 10px;
            left: 10px;
            position: fixed;
        }
    </style>
</head>
<body>
<h2>Profile</h2>
<div class="authenticated" style="display:none">
    <span id="username" style="display:none"></span>
    <button onClick="logout()" class="btn btn-primary divLogout">Logout</button>
</div>
<div class="container">
<div class="role-1" style="display:none">
    <h3>Welcome, Educator</h3><br>
    <div>
        <a href="/create-tournament" class="btn btn-primary">Create a new tournament</a>
        <a href="#" id="displayTournamentsLink" class="btn btn-primary">Display your tournaments</a>
    </div>
</div>
<div class="role-0" style="display:none">
    <button onclick="window.location.href='/notification'" class="btn btn-success divNotif">Notification</button>

    <h3>Welcome, Student</h3> <br>
    <div>
        <a href="#" id="displayTournamentsLinkStudent" class="btn btn-primary">Display all tournaments</a>
        <a href="#" id="displaySubscribed" class="btn btn-primary">Display tournaments you are subscribed in</a>
    </div>
</div>
    <br>
    <div id="tournamentList"></div>
</div>

<script type="text/javascript"> <!-- For educator -->
$(document).ready(function () {
    $("#displayTournamentsLink").on("click", function (event) {
        event.preventDefault(); // Prevent the default behavior of the anchor element

        var userNameFromFrontend = $("#username").text().trim();

        $.get("/all-tournaments", { name: userNameFromFrontend }, function (data, textStatus, xhr) {
            console.log("Success:", data);
            console.log("Status Code:", xhr.status);
            if (xhr.status === 200) {
                displayTournaments(data);
            }
        })
            .fail(function (xhr, textStatus, error) {
                console.error("Error:", error);
                console.log("Status Code:", xhr.status);
            });
    });
});
function displayTournaments(tournaments) {
    var tournamentListDiv = $("#tournamentList");
    tournamentListDiv.empty();

    if (tournaments.length > 0) {
        for (var i = 0; i < tournaments.length; i++) {
            var tournamentLink = $("<a>", {
                href: "/tournament-detail?name=" + encodeURIComponent(tournaments[i]),
                class: "tournament-link",
                text: (i + 1) + ". " + tournaments[i]
            });
            tournamentListDiv.append(tournamentLink);
            tournamentListDiv.append("<br>");
        }
    } else {
        tournamentListDiv.text("No tournaments available.");
    }
}
</script>
<script type="text/javascript"> <!-- For students -->
$(document).ready(function () {
    $("#displayTournamentsLinkStudent").on("click", function (event) {
        event.preventDefault(); // Prevent the default behavior of the anchor element


        $.get("/all-tournaments-abs", function (data, textStatus, xhr) {
            console.log("Success:", data);
            console.log("Status Code:", xhr.status);
            if (xhr.status === 200) {
                displayTournamentsAbs(data);
            }
        })
            .fail(function (xhr, textStatus, error) {
                console.error("Error:", error);
                console.log("Status Code:", xhr.status);
            });
    });
});
function displayTournamentsAbs(tournaments) {
    var tournamentListDiv = $("#tournamentList");
    tournamentListDiv.empty();

    if (tournaments.length > 0) {
        for (var i = 0; i < tournaments.length; i++) {
            var userNameFromFrontend = $("#username").text().trim();
            var tournamentLink = $("<a>", {
                href: "/tournament-detail?name=" + encodeURIComponent(tournaments[i]),
                class: "tournament-link",
                text: (i + 1) + ". " + tournaments[i]
            });
            tournamentListDiv.append(tournamentLink);
            tournamentListDiv.append("<br>");
        }
    } else {
        tournamentListDiv.text("No tournaments available.");
    }
}
</script>
<script type="text/javascript"> <!-- For students -->
$(document).ready(function () {
    $("#displaySubscribed").on("click", function (event) {
        event.preventDefault(); // Prevent the default behavior of the anchor element

        var userNameFromFrontend = $("#username").text().trim();

        $.get("/all-tournaments-subscribed", { name: userNameFromFrontend }, function (data, textStatus, xhr) {
            console.log("Success:", data);
            console.log("Status Code:", xhr.status);
            if (xhr.status === 200) {
                displayTournamentsSubscribed(data);
            }
        })
            .fail(function (xhr, textStatus, error) {
                console.error("Error:", error);
                console.log("Status Code:", xhr.status);
            });
    });
});
function displayTournamentsSubscribed(tournaments) {
    var tournamentListDiv = $("#tournamentList");
    tournamentListDiv.empty();

    if (tournaments && tournaments.length > 0) {
        for (var i = 0; i < tournaments.length; i++) {
            if (tournaments[i]!=null) {
                var tournamentLink = $("<a>", {
                    href: "/tournament-detail?name=" + encodeURIComponent(tournaments[i]),
                    class: "tournament-link",
                    text: (i + 1) + ". " + tournaments[i]
                });
                tournamentListDiv.append(tournamentLink);
                tournamentListDiv.append("<br>");
            }
            else {
                tournamentListDiv.text("No tournaments available.");
            }
        }
    } else {
        tournamentListDiv.text("No tournaments available.");
    }
}
</script>
<script type="text/javascript">
    $.get("/user", function (data) {
        $("#username").html(data.name);
        $(".unauthenticated").hide()
        if (data.userCheckResult === true) {
            $(".authenticated").show()
            $(".role_sel").hide();
            if (data.role === 1) {
                $(".role-1").show();
            }
            else {
                $(".role-0").show();
            }
        } else {
            $(".authenticated").hide()
            $(".role_sel").show();
        }
    });

    var logout = function () {
        $.post("/logout", function () {
            window.location.href = '/';
        })
        return true;
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (settings.type == 'POST' || settings.type == 'PUT'
                || settings.type == 'DELETE') {
                if (!(/^http:.*/.test(settings.url) || /^https:.*/
                    .test(settings.url))) {
                    // Only send the token to relative URLs i.e. locally.
                    xhr.setRequestHeader("X-XSRF-TOKEN",
                        Cookies.get('XSRF-TOKEN'));
                }
            }
        }
    });

</script>
</body>
</html>